<link type="text/css" rel="stylesheet" href="/rickshaw/css/graph.css">
<link type="text/css" rel="stylesheet" href="/rickshaw/css/detail.css">
<link type="text/css" rel="stylesheet" href="/rickshaw/css/legend.css">
<link type="text/css" rel="stylesheet" href="/rickshaw/css/extensions.css">

<script type="text/javascript" src="/js/socket.io.js"></script>
<script type="text/javascript" src="/rickshaw/js/d3.v3.js"></script>
<script type="text/javascript" src="/rickshaw/js/rickshaw.js"></script>
<script type="text/javascript" src="/rickshaw/js/Rickshaw.Graph.Axis.Time.js"></script>
<div id="chart_container">
    <div id="chart"></div>
    <div id="timeline"></div>
    <div id="preview"></div>
</div>

<script>

var socket = io.connect();
var totalVisitors =0;
socket.on('count', function (data) {
  totalVisitors = data.number;
});

var tv = 25;

// instantiate our graph!
var graph = new Rickshaw.Graph( {
  element: document.getElementById("chart"),
  width: 600,
  height: 300,
  renderer: 'line',
  preserve: true,
   
  series: new Rickshaw.Series.FixedDuration([{ name: 'one' }], undefined, {
    timeInterval: tv,
    maxDataPoints: 1000
    //,timeBase: (new Date().getTime() / 1000)
  }) 
  
} );

graph.render();
var ticksTreatment = 'glow';
//var seconds = time.unit('seconds');

var xAxis = new Rickshaw.Graph.Axis.Time( {
  graph: graph,
  ticksTreatment: ticksTreatment,
  timeFixture: new Rickshaw.Fixtures.Time.Local()
  //timeUnit:seconds
} );

xAxis.render();

var yAxis = new Rickshaw.Graph.Axis.Y( {
  graph: graph,
  tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
  ticksTreatment: ticksTreatment
} );

yAxis.render();

// add some data every so often

var i = 0;
var iv = setInterval( function() {

  var data = {};
  data.one = totalVisitors;
  data.two = 0;
  data.three = 0;

  graph.series.addData(data);
  graph.render();
  graph.update();
}, tv );


previewXAxis.render();

</script>