@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('Roboto-Thin.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('Roboto-Regular.ttf');
}
body {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18pt;
  margin:0;
  padding:0;
  background-color: #FEFFFB;
  color: #232D33;
  -webkit-user-select: none;
}
button {
  cursor: pointer;
}
.info {
  color: #666;
  font-size: 14px;
  text-align: right;
  width: 100%;
}
.sentence {
  font-size: 32px;
  margin: 20px;
  padding: 15px;
  height: 100px;
  border: 1px solid #cecece;
}
.uitext {
  font-size: 14pt;
  margin-left: 20px;
  margin-top: 20px;
  line-height: 1.25;
}
.highlight {
  display: inline-block;
  line-height: 25px;
  vertical-align: top;
  margin-right: 10px;
}
.highlight .expected {
}
.highlight .spoken {
  font-weight: bold;
  font-size: 18px;
}
.highlight.correct .expected {
  color: green;
  font-weight: bold;
}
.highlight.wrong .expected {
  color: rgb(201, 0, 0);
  font-weight: bold;
}
.controls {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  position: absolute;
}
.idleControls {
  visibility: visible;
  display: inline-block;
  vertical-align: top;
}
.speaking .idleControls {
  visibility: hidden;
}
.idleControls button  {
  width: 85px;
  font-size: 20px;
  padding: 0 20px;
  font-weight: bold;
}

.ptt {
  display: inline-block;
  position: relative;
}
.speaking .ptt button:active, 
.speaking .ptt button {
  background-color: rgb(235, 39, 12);
  color: transparent;
  cursor: default;
}
.ptt button:active {
  background-color: rgb(0,131,0);
  -webkit-transform: scale3d(0.9, 0.9, 1);
}
.ptt button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-color: transparent;
  background-color: rgb(33, 204, 0);
  background-image: url('../animatedmic.gif');
  background-position: center;
  background-repeat: no-repeat;
  white-space: pre;
  padding: 0;
}
.speaking .ptt .pulse {
  display: block;
  border: 3px solid rgb(255,205,205);
  -webkit-animation: myframes 0.9s ease-in infinite;
}

@-webkit-keyframes myframes { 
  0%   {-webkit-transform: scale(0.3);}
  100% {-webkit-transform: scale(1);}
}

.ptt .pulse {
  position: absolute;
  top:0;
  display: none;
}
.results {
  padding: 3px 0;
  margin-top: 10px;
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 10px;
}
.results span {
  padding: 0px 10px;
}
