<!DOCTYPE html>
<html>
	<head>
		<title>wishwall</title>
		<link rel='stylesheet' href='/stylesheets/style.css'  type="text/css">
		<script src="/js/jquery-1.10.1.min.js"></script>
		<script src="/js/datetimeUtils.js"></script>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/login">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/account">Account</a> | 
			<a href="/wish/send">Test send wish</a> | 
			<a href="/wish/list/nonban">Active wish list</a> | 
			<a href="/wish/list/ban">Ban wish list</a> | 
			<a href="/wish/stats">Stats</a> | 
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>

	</body>
</html>
