
<div class="jumbotron text-center">
<form method="post" action="/wish/new">
<input type="text" name="txt" id="txt" class="form-control" placeholder="enter title">
<input type="submit" class="btn btn-primary btn-lg" value="Save">
</form>
</div>