<div id="wishtable">
<a href="javascript:loadWishesToTable();">Refresh table</a>
<table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th><span>Wish</span></th>
        <th><span>Exhibition/Online</span></th>
        <th><span>Country</span></th>
        <th><span>Date</span></th>
        <th><span>Ban</span></th>
      </tr>
    </thead>
    <tbody id="wishtable_body">
    </tbody>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        
        loadWishesToTable();
        // refresh each 60 seconds
        setTimeout('loadWishesToTable()',60000);
    });

    function loadWishesToTable(){
        //alert("call");
        $.getJSON( "/wish/list/json/nonban", function( data ) {
        var items = "";
        $.each( data, function( key, val ) {
            items += "<tr id='" + val._id + "'>";
            items += "<td>" + val.text + "</td>";
            items += "<td>" + val.origen + "</td>";
            items += "<td>" + val.country + "</td>";
            items += "<td>" + val.created_at + "</td>";
            items += "<td>" + val.ban + "</td>";
            items += "<td><a href=\"javascript:banWish('" + val._id + "','" + val.text + "')\">Ban this</a></td>";
            items += "</tr>";
        });
        $("#wishtable_body").html(items);
        });
    }

    function banWish(id, text){
        $.post( "/wish/ban", { id: id }).done(function( data ) {});
        $( "#"+id ).remove();
    }
  
</script>